<div class="row">
    <div class="col-12 col-md-6 offset-md-3 pt-3">

        <div *ngIf = "isError" class="alert alert-danger">
            {{error}}
        </div>
        <div *ngIf="isLoading" class="text-center">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form #authForm = 'ngForm' (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading    ">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" ngModel #email required email>
            </div>
            
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" class="form-control"ngModel #password required minlength="6">
            </div>

            <div>
                <button class="btn btn-primary mr-2" [disabled]="!authForm.valid" type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button> |
                <button class="btn btn-warning ml-2" type="button" (click)='onSwitchMode()'>Switch To {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>

        </form>
    </div>
</div>