<div class="row">
    <div class="col-md-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" width='700px' >
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" ngbDropdown >
            <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle> Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item" ngbDropdownItem><a (click) = "onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                <li class="dropdown-item" ngbDropdownItem [routerLink] = "['edit']"><a >Edit Recipe</a></li>
                <li class="dropdown-item" ngbDropdownItem><a >Delete Recipe</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor = "let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
