<div class="row">
    <div class="col-md-12">
        <form (ngSubmit) = 'onSubmit(f)' #f = "ngForm">
            <div class="row">
                <div class="col-sm-5 form-group" >
                    <label for="name">Name</label>
                    <input
                    type="text"
                    id="name"
                    name = "name"
                    class="form-control"
                    ngModel
                    required
                    >
                </div>
                <div class="col-sm-2 form-group" >
                    <label for="amount">Amount</label>
                    <input
                    type="number"
                    id="amount"
                    name = "amount"
                    class="form-control"
                    ngModel
                    required
                    min="0"
                    >
                </div>

                <div class="col-sm-12">
                    <button class="btn btn-success mr-3" type="submit" (click) = "onAddItem(f)" [disabled] = "!f.valid" [ngStyle]="{'cursor' : !f.valid ? 'not-allowed' : 'pointer'}">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger  mr-3" type="submit">Delete</button>
                    <button class="btn btn-primary mr-3" type="submit">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
